<div *ngIf="property.title">
  <mat-form-field>
    <mat-select [(ngModel)]="property.operator.id" (selectionChange)="select($event.value)">
      <mat-optgroup *ngFor="let category of operatorList" [label]="category.title">
        <mat-option *ngFor="let operator of category.operators" [value]="operator.id">
          {{operator.title}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <div *ngIf="operatorExists()">
    <input *ngFor="let item of Arr(property.operator.numOfValues).fill(1); index as i;" type="text"
      [(ngModel)]="property.inputValues[i]" class="value" />
  </div>
</div>