@import "src/variables";

div {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
}

input.value {
  height: 25px;
  width: 75px;
  align-self: center;
  font-size: 1em;

  border: 1px solid $accent-color;
  background: lighten($accent-color, 30%);
  margin-left: 1em;
}


