<section>
  <header>
    <h1>Customer Filter</h1>
    <a href="#" (click)="clearFilter()">Discard Filters</a>
  </header>

  <div>
    <app-filter-step *ngFor="let step of steps" [step]="step" (deleteStep)="deleteStep(step)"
      (duplicateStep)="duplicateStep(step)">
    </app-filter-step>

    <button mat-button href="#" (click)="newStep()">
      <i class="material-icons">add</i>Add Funnel Step
    </button>
  </div>

  <button mat-flat-button color="accent" (click)="logData()">Apply filters</button>
</section>