@import 'src/variables';
@import 'src/variables';

section {
  margin: 0 1.5em;
  border: 1px solid lighten($secondary-color, 25%);
  padding: 1.2em;
  font-family: 'Helvetica', sans-serif;

  @media screen and (min-width:1040px) {
    & {
      width: 80%;
      margin: 0 auto;
    }
  }

  header {
    display: flex;
    align-content: space-between;

    h1,
    a {
      text-transform: uppercase;
    }

    h1 {
      margin: 0;
      font-size: 1em;
      color: $text-color;
      flex: 6;
    }

    a {
      font-size: .9em;
      text-decoration: none;
      color: $secondary-color;
      font-weight: bold;
      flex: 6;
      text-align: end;

      &:hover {
        color: darken($secondary-color, 20%);
      }
    }
  }

  div {
    background: #ffffff;
    box-shadow: 2px 1px 3px lighten($secondary-color, 25%);
    margin-top: 1.2em;
    padding: 1.2em;

    button {
      color: $accent-color;
      text-transform: uppercase;
      width: 100%;
      margin-top: 0;

      i {
        margin-right: .5em;
      }
    }
  }

  button {
    margin-top: 1.2em;
  }
}
