<!-- TODO: Not included in the project -->

<!-- <div>
  <input matInput class="mat-select-search-input" placeholder="ja" />
  <button mat-button mat-icon-button aria-label="clear">
    <i class="material-icons">close</i>
  </button>
</div> -->