<div>
  <span class="line"></span>

  <!-- Second dropdown: Event Attributes select -->
  <app-dropdown-search [listItems]="eventAttributesList" [itemType]="'attribute'" [selectedValue]="property">
  </app-dropdown-search>

  <!-- Third dropdown: Operator -->
  <app-dropdown-operator [property]="property"></app-dropdown-operator>

  <button (click)="delete(property)">
    <i class="material-icons">
      close
    </i>
  </button>
</div>