@import 'src/variables';

div {
  display: flex;
  align-items: center;
}


button {
  margin-left: 1em;
  color: $secondary-color;
  background: transparent;
  border: none;

  &:hover {
    color: darken($secondary-color, 20%);
    cursor: pointer;
  }
}
