<div>
  <mat-form-field>
    <mat-select placeholder="Select an {{ itemType }}" [(ngModel)]="selectedValue.title">
      <!-- <app-dropdown-search-field></app-dropdown-search-field> -->
      <mat-option *ngFor="let item of listItems" [value]="item.title">
        {{ item.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>