/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./variables";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$exponea-app-primary: mat-palette($mat-light-blue, 300);
$exponea-app-accent: mat-palette($mat-amber);
$exponea-app-theme: mat-light-theme($exponea-app-primary, $exponea-app-accent);

// Include the theme styles for only specified components.
@include mat-form-field-theme($exponea-app-theme);
@include mat-select-theme($exponea-app-theme);
@include mat-option-theme($exponea-app-theme);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $body-color;
}

.line {
  margin: 0 .5em;
  display: inline-block;
  height: 2px;
  width: 15px;
  background: lighten($secondary-color, 15%);
}
