@import 'src/variables';

div.step {
  padding-bottom: 2.5em;

  &:hover header div.controls {
    visibility: visible;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;


    button {
      background: transparent;
      border: none;

      i {
        color: $secondary-color;
        font-size: 1.5em;

        &:hover {
          color: darken($secondary-color, 20%);
          cursor: pointer;
        }
      }
    }

    div.title {
      flex: 6;

      strong {
        color: $accent-color;
        margin-right: 1em;
      }

      button {
        margin-left: 1em;
      }
    }

    div.controls {
      flex: 6;
      text-align: end;
      visibility: hidden;

      button {
        &:not(&:last-of-type) {
          margin-right: .5em;
        }
      }
    }
  }


  section.event {
    display: flex;

    .event-attributes {

      button {
        margin-left: calc(1em + 15px);
        color: $accent-color;

        &:first-child {
          margin-top: 0.8em;
        }
      }
    }

  }
}
