<div class="step">
  <header>
    <div class="title">
      <strong>{{step.id}}. STEP:</strong>
      <span>{{step.title}}</span>
      <a href="#">
        <button><i class="material-icons">edit</i></button>
      </a>
    </div>
    <div class="controls">
      <button (click)="delete(step)">
        <i class="material-icons">delete</i>
      </button>
      <button (click)="duplicate(step)">
        <i class="material-icons">file_copy</i>
      </button>
    </div>
  </header>


  <section class="event">

    <!-- Dropdown: Event Types  -->
    <app-dropdown-search [listItems]="eventTypes" [selectedValue]="step" [itemType]="'event'">
    </app-dropdown-search>

    <div class="event-attributes">

      <!-- Filter step's event attributes -->
      <app-event-attribute *ngFor="let property of step.properties" [property]="property"
        (deleteAttribute)="deleteAttribute(property)">
      </app-event-attribute>

      <button mat-button (click)="addAttribute(step)">
        {{step.properties.length ? 'Refine more' : '+ Add event attribute'}}
      </button>
    </div>

  </section>
</div>